%section.leader
  .title
    %h2 Projects
    %h2.sub
      %small Tools of trade

%section.content#projects
  .project
    = link_to 'www.youtube.com/watch?v=M8HB6YkIPiw' do
      .logo
        .aspect.tv
          = image_tag 'projects/loonyflow.png'
      .description
        %h4 LoonyFlow
        %p Automated workflow for developers

  .project
    = link_to 'https://github.com/TMaYaD/protsahan/tree/master/app/assets/javascripts' do
      .logo
        .aspect.tv
          = image_tag 'projects/picasa_gallery.png'
      .description
        %h4 Picasa Gallery
        %p Javascript to embed images from your picasa gallery into any webpage

  .project
    = link_to 'https://github.com/TMaYaD/livewire' do
      .logo
        .aspect.tv
          = image_tag 'projects/livewire.png'
      .description
        %h4 Livewire
        %p A simple CMS build on meteor

  .project
    = link_to 'https://github.com/LoonyBin/redis_record' do
      .logo
        .aspect.tv
          = image_tag 'projects/redis_record.png'
      .description
        %h4 Redis Record
        %p ActiveRecord style interface for Redis backed objects

  .project
    = link_to 'https://github.com/tmayad/pharmasoft' do
      .logo
        .aspect.tv
          = image_tag 'projects/pharmasoft.png'
      .description
        %h4 Pharmasoft
        %p Web app for pharma sales and management

  .project
    = link_to 'https://github.com/TMaYaD/jekyll-pipeline' do
      .logo
        .aspect.tv
          = image_tag 'projects/jekyll_pipeline.png'
      .description
        %h4 Jekyll Pipeline
        %p Compile jekyll sites into your rails app along with your assets

  .project
    = link_to 'https://github.com/TMaYaD/data_tables_responder' do
      .logo
        .aspect.tv
          = image_tag 'projects/data_tables_responder.png'
      .description
        %h4 Data Tables Responder
        %p Responder to link rails resources with data_tables
