%section.leader
  .title
    %h2 Projects
    %h2.sub
      %small Tools of trade

%section.content#projects
  .project
    = link_to '/projects/loonyflow' do
      .logo.small-4.columns
        .aspect.tv
          = image_tag 'projects/loonyflow.png'
      .description.small-8.columns
        %h4 LoonyFlow
        %p Automated workflow for developers

  .project
    = link_to '/projects/picasa_gallery' do
      .logo.small-4.columns
        .aspect.tv
          = image_tag 'projects/picasa_gallery.png'
      .description.small-8.columns
        %h4 Picasa Gallery
        %p Javascript to embed images from your picasa gallery into any webpage

  .project
    = link_to '/projects/livewire' do
      .logo.small-4.columns
        .aspect.tv
          = image_tag 'projects/livewire.png'
      .description.small-8.columns
        %h4 Livewire
        %p A simple CMS build on meteor

  .project
    = link_to '/projects/redis_record' do
      .logo.small-4.columns
        .aspect.tv
          = image_tag 'projects/redis_record.png'
      .description.small-8.columns
        %h4 Redis Record
        %p ActiveRecord style interface for Redis backed objects

  .project
    = link_to '/projects/pharmasoft' do
      .logo.small-4.columns
        .aspect.tv
          = image_tag 'projects/pharmasoft.png'
      .description.small-8.columns
        %h4 Pharmasoft
        %p Web app for pharma sales and management

  .project
    = link_to '/projects/jekyll_pipeline' do
      .logo.small-4.columns
        .aspect.tv
          = image_tag 'projects/jekyll_pipeline.png'
      .description.small-8.columns
        %h4 Jekyll Pipeline
        %p Compile jekyll sites into your rails app along with your assets

  .project
    = link_to '/projects/data_tables_responder' do
      .logo.small-4.columns
        .aspect.tv
          = image_tag 'projects/data_tables_responder.png'
      .description.small-8.columns
        %h4 Data Tables Responder
        %p Responder to link rails resources with data_tables
