.section-heading
  %h3 Clients

%section#clients
  %ul.small-block-grid-3.medium-block-grid-3.large-block-grid-3
    %li
      = link_to 'http://www.atouchjet.com' do
        .aspect.tv
          = image_tag 'clients/touchjet.png'

    %li
      = link_to 'http://www.getimotion.com' do
        .aspect.tv
          = image_tag 'clients/intellectmotion.png'

    %li
      = link_to 'https://angel.co/investopresto-1' do
        .aspect.tv
          = image_tag 'clients/investopresto.png'

    %li
      = link_to 'http://vymo.in' do
        .aspect.tv
          = image_tag 'clients/vymo.png'

    %li
      = link_to 'http://www.printfriendly.com' do
        .aspect.tv
          = image_tag 'clients/printfriendly.png'

    %li
      = link_to 'http://www.protsahan.co.in' do
        .aspect.tv
          = image_tag 'clients/protsahan.png'

    %li
      = link_to 'http://www.divi.co.in' do
        .aspect.tv
          = image_tag 'clients/divi.png'

