.row
  .small-12.columns
    %ul.small-block-grid-2.large-block-grid-4
      %h2 Projects
      %li
        = link_to '/projects/loonyflow', class: 'aspect square' do
          %h4
            %small LoonyFlow
      %li
        = link_to '/projects/picasa_gallery', class: 'aspect square' do
          %h4
            %small Picasa Gallery
      %li
        = link_to '/projects/printfriendly', class: 'aspect square' do
          %h4
            %small Print Friendly
      %li
        = link_to '/projects/investopresto', class: 'aspect square' do
          %h4
            %small Investopresto
      %li
        = link_to '/projects/imotion', class: 'aspect square' do
          %h4
            %small IMotion
      %li
        = link_to '/projects/pharmasoft', class: 'aspect square' do
          %h4
            %small Pharma Soft
      %li
        = link_to '/projects/livewire', class: 'aspect square' do
          %h4
            %small Livewire
      %li
        = link_to '/projects/redis-record', class: 'aspect square' do
          %h4
            %small Redis Record
